# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# others
*.ipch
*.VC
*.db
*.suo
*.vs
*.ilk

Pong\
Assimp

# mo ish
Source\.vs\
Source\x64\
Source\Debug\
Source\Release\
Tools\ModelConverter\Debug\
Tools\ModelConverter\Release\
Tools\ModelConverter\x64\
Tools\SceneTest\Debug\
Tools\SceneTest\x64\
Tools\SceneTester\Debug\
Tools\SceneTester\x64\
/Source/Debug/Principia Engine.tlog/CL.command.1.tlog
/Source/Debug/Principia Engine.tlog/CL.read.1.tlog
/Source/Debug/Principia Engine.tlog/CL.write.1.tlog
/Source/Debug/PrincipiaEngine.log
/Source/Debug/Principia Engine.Build.CppClean.log
/Source/Release/Principia Engine.tlog/Cl.items.tlog
/Source/Release/Principia Engine.tlog/CL.read.1.tlog
/Source/Release/Principia Engine.tlog/CL.write.1.tlog
/Source/Release/Principia Engine.tlog/Lib-link.read.1.tlog
/Source/Release/Principia Engine.tlog/Lib-link.write.1.tlog
/Source/Release/Principia Engine.tlog/Lib.command.1.tlog
/Source/Release/Principia Engine.tlog/Principia Engine.lastbuildstate
/Tools/SceneTest/Debug/SceneTest.log
/Tools/SceneTest/Debug/SceneTest.tlog/CL.command.1.tlog
/Tools/SceneTest/Debug/SceneTest.tlog/CL.read.1.tlog
/Tools/SceneTest/Debug/SceneTest.tlog/CL.write.1.tlog
/Tools/SceneTest/Debug/SceneTest.tlog/link.read.1.tlog
/Tools/SceneTest/Debug/SceneTest.tlog/link.write.1.tlog
/Tools/SceneTest/Debug/SceneTest.tlog/rc.read.1.tlog
/Tools/SceneTest/Debug/SceneTest.tlog/SceneTest.lastbuildstate
/Tools/SceneTest/Debug/vc143.idb
/Tools/SceneTest/Debug/vc143.pdb
