[submodule "bvh"]
	path = bvh
	url = https://github.com/madmann91/bvh.git
[submodule "Lib/bvh"]
	path = Lib/bvh
	url = https://github.com/madmann91/bvh.git
[submodule "Lib/flecs"]
	path = Lib/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "Vendor"]
	path = Vendor
	url = https://github.com/michaeljm116/EngineLib.git
